ARDUINO_PORT=/dev/cu.usbmodem83101
ARDUINO_FQBN=esp32:esp32:esp32s3:USBMode=hwcdc,UploadMode=default,CDCOnBoot=cdc,CPUFreq=240,FlashMode=qio,FlashSize=16M,PartitionScheme=app3M_fat9M_16MB,PSRAM=opi,UploadSpeed=921600
WAVESHARE_VENDOR_DIR=/Users/phodal/Downloads/ESP32-S3-Touch-AMOLED-1.75C-main
SKETCH=sketches/codex_hello_world

